body {
    font-family: 'Montserrat', sans-serif, "游ゴシック体";
    background-attachment: fixed;
}

#opening{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    transition: 2s;
    font-size: 4vw;
    text-align: center;
}

#opening-title{
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#opening.active{
    opacity: 1;
    z-index: 100;
}

#opening.end{
    opacity: 0;
    z-index: -100;
    transform: scale(2);
}

#title{
    padding: 3vh;
    margin: 2vh auto 7vh auto;
    text-align: center;
    color: white;
    font-size: 2vw;
}

.video{
    width: 100vw;
    height: 100vh;
    background: url(../images/top.JPG) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video video{
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#menu{
    display: grid;
    grid-template-columns: repeat(13, minmax(0,1fr));
    place-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;


}

#menubtn{
    grid-row: 1;
    grid-column: 7;
    cursor: pointer;
    z-index: 10;
}



#menubtn img{
    max-width: 200px;
    min-width: 120px;
}

.menuitem{
    grid-row: 1;
    grid-column: 7;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background: white;
    opacity: 0.8;
    z-index: 1;
    transition: 1s;
    transition: transform 1000ms;
}

.menuitem:hover{
    opacity: 0.3;
}

.menuitem a{
    text-decoration: none;
    position: relative;
    padding: 20% 0;
    color:lightslategrey;
    font-size: 16px;
    cursor: pointer;
}

.menuitem p{
    text-decoration: none;
    position: relative;
    padding: 20% 0;
    color:lightslategrey;
    font-size: 16px;
    cursor: pointer;
}

#profilepage{
    background-color: #959dbad1;
    display: flex;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height:100vh;
    transition: 0.8s;
}

#profileclosebtn{
    font-size: 70px;
    padding: 1%;
    color: white;
    cursor: pointer;
}

#profileclosebtn:hover{
    opacity:0.5;
}

.profileimage{
    padding:5%;
    text-align: center;
}

.profileimage img{
    width:50%;
}

.profiletext{
    padding:5% 0 0 0;
    color: white;
    font-size: 15px;
    margin-left: -20px;
}

.profiletext a{
    text-decoration: none;
    color:#2980af;
}

.profiletext a:hover{
    opacity: 0.5;
}


#contactpage{
    background-color: #959dbad1;
    position: fixed;
    top: 0;
    left:-200vw;
    width: 100vw;
    height:100vh;
    transition: 1.2s;
}

#contactclosebtn{
    font-size: 70px;
    padding: 1%;
    color: white;
    cursor: pointer;
}

#contactclosebtn:hover{
    opacity: 0.5;
}

.contacttext p{
    text-align: center;
    color: white;
    margin-bottom:80px;
    font-size: 20px;
}


/*メニュー展開*/
.openmenu .menuitem:nth-child(6) {
    transform: rotate(90deg) translateY(calc( -2em - 20vw )) rotate(-90deg);
    transition-delay: 0.1s;
}

.openmenu .menuitem:nth-child(5) {
    transform: rotate(45deg) translateY(calc( -2em - 20vw )) rotate(-45deg);
    transition-delay: 0.2s;
  }

.openmenu .menuitem:nth-child(4) {
    transform: rotate(-0deg) translateY(calc( -2em - 20vw )) rotate(0deg);
    transition-delay: 0.3s;
  }

.openmenu .menuitem:nth-child(3) {
    transform: rotate(-45deg) translateY(calc( -2em - 20vw )) rotate(45deg);
    transition-delay: 0.4s;
  }

.openmenu .menuitem:nth-child(2) {
    transform: rotate(-90deg) translateY(calc( -2em - 20vw )) rotate(90deg);
    transition-delay: 0.5s;
  }


/*メニュー展開*/

/*open profile page*/
.openprofile{
    transform: translateX(100vw);
    z-index: 100;
}
/*open profile page*/

/*open contact page*/
.opencontact{
    transform: translateX(200vw);
    z-index: 100;
}
/*open contact page*/

/*下に流れる文字*/
#flow{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 20px;
    animation: flowing 20s linear infinite;
    color: #859dbad1;
}

@keyframes flowing{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
/*下に流れる文字*/

/*レスポンシブ対応*/
@media screen and (max-width: 680px){
    #title{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 3vw;
    }

    #menu{
        margin: 25vh 0;
    }
    .menuitem{
        width: 80px;
        height: 80px;
    }

    .menuitem a{
        font-size: 13px;
    }

    .menuitem p{
        font-size: 13px;
    }

    #menubtn img{
        width: 100px;
    }
    .profiletext{
        font-size: 10px;
    }
    .profileimage{
        width:30%;
    }
}
/*レスポンシブ対応*/



